.section-header {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba($color-black, 0.9);
  color: $color-white;
  &__terminal {
    font-family: $font-terminal;
    letter-spacing: 0.1rem;
    font-size: $font-size-header;
  }
}

.section-intro {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
  }

  &__content {
    flex-basis: 65%;
    display: flex;
  }

  &__pic {
    flex-basis: 35%;
    display: flex;
    img {
      border-radius: 100%;
      height: 25rem;
      margin: 0 auto;
    }
  }

  &__bottom {
    text-align: center;
    font-size: $font-size-paragraph;
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__center {
    align-self: center;
    margin: 0 auto;
  }
}

.section-service {
  min-width: 100vw;
  min-height: 100vh;
  color: $color-white;
  display: flex;
  overflow: hidden;

  &--blue {
    background-color: $color-first;
  }

  &--green {
    background-color: #00af00;
  }

  &--red {
    background-color: red;
  }

  &__content {
    flex-basis: 65%;
    display: flex;

    &--right {
      text-align: right;
    }
  }

  &__image {
    flex-basis: 35%;
    display: flex;
    flex-direction: row;
    img {
      max-height: 25rem;
      align-self: center;
      margin: 0 auto;
    }
  }
}

.section-footer {
  display: flex;
  flex-direction: row;
  background-color: $color-black;
  color: $color-white;
  font-family: $font-primary;

  &__about {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
  }

  &__contact {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
  }

  &__header {
    font-size: 3rem;
    display: block;
  }

  &__paragraph {
    margin-top: 3rem;
    font-size: $font-size-small;
    display: flex;
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-top: 5rem;
  }
}
