.section-header {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba($color-black, 0.9);
  color: $color-white;
  &__terminal {
    font-family: $font-terminal;
    letter-spacing: 0.1rem;
    font-size: $font-size-header;
  }
}

.section-intro {
  min-width: 100vw;
  min-height: 100vh;

  &__center {
    text-align: center;
    font-size: $font-size-paragraph;
  }
}

.section-service {
  min-width: 100vw;
  min-height: 100vh;
  color: $color-white;
  display: flex;

  &--blue {
    background-color: $color-first;
  }

  &--green {
    background-color:#00af00;
  }

  &--red {
    background-color: red;
  }

  &__content {
    flex-basis: 65%;
    display: flex;

    &--right {
      text-align: right;
    }
  }

  &__image {
    flex-basis: 35%;
    display: flex;
    flex-direction: row;
    img {
      max-height: 25rem;
      align-self: center;
      margin: 0 auto;
    }
  }
}
