//TODO: Neaten this button
.btn {
  border-radius: 2rem;
  display: inline-block;
  font-family: $font-primary;
  cursor: pointer;
  transition: all .2s;
  &:active {
    box-shadow: 0 0rem 1rem .1rem rgba($color-grey, 0.5) inset;
  }

  &--large {
    padding: 2rem 5rem;
  }
  &--black {
    background-color: $color-black;
    color: white;
    border: 1px black solid;
    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }
}