.btn {
  display: inline-block;
  font-family: $font-primary;
  cursor: pointer;
  position: relative;

  &__content {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    padding: 2rem 5rem;
    border: solid 1px black;
    transition: all .3s;
    box-shadow: 0 0 1rem rgba($color-black, 0.8);
    &:hover {
      color: black;
      background-color: white;
      box-shadow: none;
    }
  }
}
