.content-box {
  display: flex;
  flex-flow: column nowrap;
  font-family: $font-primary;
  &__top {
    text-align: center;
    font-size: $font-size-header;
    letter-spacing: 0.1rem;
    line-height: 8rem;
    font-weight: bold;
    @include respond(tight) {
      font-size: $font-size-tight-lg;
      line-height: 5rem;
    }
  }

  &__center {
    display: none;
    padding: 1rem 0;
    @include respond(service-break) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: auto;
      img {
        max-height: 35rem;
      }
    }
  }

  &__bottom {
    margin-top: auto;
    font-size: $font-size-paragraph;
    letter-spacing: 0.1rem;
    line-height: 4.5rem;
    @include respond(service-break) {
      text-align: center;
    }
    @include respond(tight) {
      font-size: $font-size-tight-md;
      line-height: 3.5rem;
    }
  }
}
