.intro-card {
  font-family: $font-primary;

  &__line {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &--big {
      font-size: $font-size-header;
      @include respond(intro-break) {
        font-size: 5rem;
      }
    }
    &--md {
      font-size: $font-size-large;
      @include respond(intro-break) {
        font-size: 4rem;
      }
    }
    &--sm {
      font-size: $font-size-paragraph;
      @include respond(intro-break) {
        font-size: 3.5rem;
      }
    }
  }
}