@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes come-in-left {
  0%{
    opacity: 0;
    transform: translateX(-5rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: come-in-left .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@for $i from 1 to 10 {
  .animate-delay-#{$i} {
    animation-delay: $i;
  }
}

.animation-blink {
  animation-name: blink;
}

.animation-infinite {
  animation-iteration-count: infinite;
}

.animation-quick {
  animation-duration: 1s;
}