@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shoot-in-left {
  0%{
    transform: translateX(-100vw);
  }

  100%{
    transform: translateX(0);
  }
}

@keyframes shoot-in-right {
  0%{
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes shoot-up {
  0%{
    opacity: 0;
    transform: translateY(100vh);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.shoot-in-left {
  animation: shoot-in-left backwards linear;
}

.shoot-in-right {
  animation: shoot-in-right backwards linear;
}

.shoot-up {
  animation: shoot-up linear backwards;
}

.animation-blink {
  animation-name: blink;
}

.animation-infinite {
  animation-iteration-count: infinite;
}

@for $i from 1 through 5 {
  .animation-delay-#{$i} {
    animation-delay: #{$i/2.0}s;
  }
}

@for $i from 1 through 5 {
  .animation-duration-#{$i} {
    animation-duration: #{$i/2.0}s;
  }
}