*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  /*border: black solid thin;*/
  box-sizing: inherit;
}

//TODO: Remove the scroll bar 
html {
  //This essentially defines what one rem is, which is 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-white;

  & > div[class^="section-"] {
    padding: 10rem 10rem;
  }
}