*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  /*border: black solid thin;*/
  box-sizing: inherit;
}

//TODO: Remove the scroll bar 
html {
  //This essentially defines what one rem is, which is 10px
  font-size: 62.5%;

  @include respond(tab-lg) {
    font-size: 57%;
  }

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tight) {
    font-size: 47.5%;
  }

  @include respond(desktop-lg) {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-white;

  & > div[class^="section-"] {
    padding-left: 10rem;
    padding-right: 10rem;
    @include respond(depad) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include respond(tab) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &:not(:last-of-type) {
      padding-top: 10rem;
      padding-bottom: 10rem;
      @include respond(depad) {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      
    }
    &:last-of-type {
      padding-top: 5rem;
      padding-bottom: 5rem;
      @include respond(tab) {
        padding-bottom: 1rem;
      }
    }
  }
}