@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {

  @if $breakpoint == tab {
    @media (max-width: 62em) { //992 px
      @content;
    }
  }

  @if $breakpoint == service-break {
    @media (max-width: 71.25em) {//1140
      @content;
    }
  }

  @if $breakpoint == tab-lg {
    @media (max-width: 78em) { //1248 px
      @content;
    }
  }

  @if $breakpoint == depad {
    @media (max-width: 84.5em) { // 1348 px
      @content;
    }
  }

  @if $breakpoint == desktop-lg {
    @media (min-width: 106.25em) {
      @content;
    }
  }
}