$color-white: #fff;
$color-black: #000;

$font-terminal: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-primary: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$row-width: 125rem;

$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;