$color-white: #fff;
$color-black: #000;
$color-grey: #949494;

$font-terminal: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-primary: 'Neutra';
$font-size-header: 7rem;
$font-size-large: 6rem;
$font-size-paragraph: 4rem;
$font-size-small: 2rem;
$font-size-tight-lg: 5rem;
$font-size-tight-md: 3rem;

$row-width: 125rem;
$grid-columns: 8;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;

$colors: (  darkred, goldenrod, midnightblue);